@media (max-width: 768px) {
    .pla {
        background-color: transparent;
        flex-direction: column;
        padding: 0;
        align-items: start;
    }

    .pla .btnheader {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

    html body .btnheader {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(18, 0, 34, 0.877);
    }

    html body .pla div:first-child {
        padding: 10px;
        border-radius: 5px;
        color: black;
        background-color: transparent;
    }

    html body .pla div:first-child a {
        padding: 10px;
        border-radius: 5px;
        padding: 0;
        color: black;
        background-color: transparent;
    }

    #dropdown-content div nav ul .huh {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    html body .filter-btn {
        color: white;
        margin: 0 5px;
        border: none;
        padding: 20px 45px;
        font-size: 16px;
        background-color: transparent;
    }

    html body .huh div {
        padding: 2px;
    }

    .huh div a {
        text-decoration: none;
        color: black;
        font-size: 22px;
    }

    html body ul {
        padding: 0;
    }

    html body .huh {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: start;
    }
}

@media (max-width: 1200px) {
    body .huh {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    html body .container nav ul a {
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        margin-left: 10px;
    }
    
    body .filter-btn {
        color: white;
        margin: 0 5px;
        border: none;
        font-size: 16px;
        background-color: transparent;
    }

    .tommy {
        display: flex;
    }
    
    html body .pla {
        border-radius: 0;
    }
}

html body .container nav ul a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

html body .container div nav ul div a.active {
    border-bottom: 4px solid chocolate;
    color: rgba(18, 0, 34, 0.877);
    font-weight: bolder;
}

nav ul .huh {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}